exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(CCMMR, .registration = TRUE)
importFrom("methods", "is")
importFrom("RANN", "nn2")
importFrom("r2r", "hashmap")
importFrom("r2r", "delete")
importFrom("r2r", "keys")
importFrom("stats", "as.hclust")

S3method(as.hclust, cvxclust)
S3method(plot, cvxclust)
export(clusters)
export(convex_clustering)
export(convex_clusterpath)
export(sparse_weights)
